<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!---main header--->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/bg1.png" alt="image" class="img-fluid" title="gaurav">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>About us</p>
                        <h1>First Expressjs TestProject<span class="text-clr"> Dynamic Weather Web application</span></h1>
                        <a href="https://mausam.imd.gov.in/" target="_blank"><button>About</button></a>
                    </div>
                    <!--right side-->
                    
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    {{>footer}}

</body>
</html>